body {
   font-size: 12.0pt;
   width: 960px;
   margin: 0 auto;
   font-family: sans-serif;
}

h3 {
   font-weight: bold;
   background-color: #1D3050;
   color: white;
   padding: 8px;
   margin: 0 -8px;
}

dt, dd {
   vertical-align: middle;
   margin-bottom: 10px;
}

dt {
   font-weight: bold;
}

dt.main {
   background: #1D3050;
   color: white;
   padding: 5px;
}

ul {
   list-style-type: square;
}

a.white {
   color: white;
}

table.header {
   width: 976px;
   background-color: #1D3050;
   color: white;
   padding-top: 13px;
   padding-bottom: 5px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: -8px;
   margin-right: -8px;
}

td.indexname {
   font-size: 125%;
}

td.indexmail {
   font-size: 75%;
}


/* Additional styles */

h1 {
   font-size: 25.0pt;
   /* color: #3366FF; */
   color: white;
   background-color: #1D3050;
   padding: 8px;
   margin: 0 -8px;
}

h2 {
   background-color: #1D3050;
   color: white;
   padding: 8px;
   margin: 0 -8px;
}

p.top {
   font-size: 8pt;
   font-style: italic;
}

p.important {
   background-color: gold;
   padding: 8px;
   margin: 0 -8px;
}

p.important::before {
   content: "IMPORTANT NOTE:";
   font-weight: bold;
   color: red;
}

li {
   margin: 10px 0;
}


/* The code */

pre {
   color: rgb(33, 56, 56);
   background-color: rgb(184, 241, 241);
   white-space: pre-wrap;
   padding: 8px;
   margin: 0 -8px;
}